
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.mainone {
    background-image: url("/images/desktop/image-header.jpG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

header {
    width: 90%;
    margin: auto;
    padding-top: 2%;
}

header ul {
    margin: 0px;
    padding: 0px;
 }
  
 header li {
     list-style: none;
     display: inline;
     padding: 0 20px 0 20px;
 }

 header nav{
    float: right;
    font-size: 18px;
    font-weight: 600;
}

header a{
    text-decoration: none;
    color: aliceblue; 
}

header button{
    padding: 10px 15px;
    border-radius: 17px;
    font-size: 12px;
    font-weight: 800;   
    cursor: pointer; 
    border: none;
}

button:hover {
    color: white;
    background-color: indianred;
}

header a:hover{
    color: indianred;
    font-weight: bold;
    text-decoration: none;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px; 
    cursor: pointer;
    display: none;
 }

/*End of header*/

.arrow {
    text-align: center;
}

.create{
    font-weight: 600;
    font-size: 80px;
    margin: auto;
    margin-top: 4%;
    width: 60%;
    text-align: center;
    color: #fff;
}

.down {
    padding-top: 7%;
}

/*End of Section One*/

.project{
    width: 100vw;
    margin: auto;
    height:max-content;
    grid-template-rows: 28em 28em 28em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project div:nth-child(1){
    background-color: #fffbf8;
}

.project1a, .project4a{
    width: 80%;
    text-align: left;
    margin: 10% auto;
    height: 16em;
}

.project1a h1, .project4a h1 {
    font-weight: 800;
    font-size: 43px;
}

.project1a p, .project4a p {
    font-size: 20px;
    padding: 15px 0px;
}

.project1a a, .project4a a {
    font-weight: 800;
    font-size: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 10px solid hsl(7, 99%, 70%);
    border-radius: 5px;
}

.project div:nth-child(2){
    background: url(images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project div:nth-child(3){
    background: url(images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project div:nth-child(4){
    background-color: #fffbf8;
}

.project div:nth-child(5){
    background: url(images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project div:nth-child(6){
    background: url(images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project5, .project6{
    text-align: center;
    padding-top: 310px;
}

.project5 h3, .project6 h3 {
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 10px;
}

/*End of Section Two*/
.mainthree {
    background-color: #fffbf8;
    padding-bottom: 80px;
}

.client{
    text-align: center;
    padding: 100px 0 20px 0;
}

.testimonials {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 3rem;
}

.clients {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.picx {
    border-radius: 50%;
    height: 6em;
    width: 6em;
}

.clients h2{
    font-size: 18px;
    font-weight: 60;
    padding: 25px;
}


/*End of Section Three*/

.photos {
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25em;
}

.photos div:nth-child(1){
    background: url(images/desktop/image-gallery-milkbottles.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photos div:nth-child(2){
    background: url(images/desktop/image-gallery-orange.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photos div:nth-child(3){
    background: url(images/desktop/image-gallery-cone.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photos div:nth-child(4){
    background: url(images/desktop/image-gallery-sugarcubes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*End of Section Four*/

.mainfive {
    background-color: #90d4c5;
    width: 100vw;
    margin: auto;
    height: 60vh;
    text-align: center;
}

.mainfive h2 {
    color: #2e7565;
    font-size: 30px;
    padding: 60px;
}

.mainfive ul li {
    display: inline;
    padding: 0 20px; 
}

/*End of Section Five*/

@media only screen and (max-width: 600px) {

    .mainone {
        background-image: url("/images/mobile/image-header.jpg");
    }

    nav #icon {
        display: block;
     }

     nav ul {
         position: fixed;
         width: 90vw;
         margin: 0 5%;
         height: 60vh;
         top: 80px;
         background: #2f3640;
         left: 0;
         line-height: 70px;
     }

     nav li {
        display: block;
        text-align: center;
     }

     .create {

     }
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }








    /*End of Section Five*/

@media only screen and (max-width: 600px) {

    .mainone {
        background-image: url("/images/mobile/image-header.jpg");
    }

    nav #icon {
        display: block;
     }

     nav ul {
         position: fixed;
         width: 90vw;
         margin: 0 5%;
         height: 60vh;
         top: 80px;
         background: #2f3640;
         left: 0;
         line-height: 70px;
     }

     nav li {
        display: block;
        text-align: center;
     }

     .create {
         
     }
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }